<!DOCTYPE HTML>
<html>
<head>
<title></title>
<link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
	
<div id="container">
<div id="square"></div>
<p id="pic"></p>
</div>

<script src="javascripts/scripts.js"></script>
</body>
</html>
